.summary {
	grid-area: summary;
	// grid-column: 2 / 3;
	display: flex;
	justify-content: space-between;
	align-self: center;
	background-color: $color-grey-light1;
	padding: 1rem;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: $box-shadow-light;
	&-main {
		font-size: 3rem;
	}
	&-list {
		list-style: none;
	}
}
