.list-item {
	display: flex;
	align-self: center;
	max-width: 80rem;
	overflow: hidden;
	justify-content: space-between;
	text-decoration: none;
	color: $color-grey-dark2;
	@include respond(tab-port) {
		padding: 1rem;
	}
	@include respond(tab-land) {
		padding: 2rem;
	}

}

.container-div {
	position: relative;
}
.flex-div1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hidey {
	background-color: blue;
}

.hidden {
	visibility: hidden;
	display: none;
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
}
.visible {
	visibility: visible;
	display: block;
}
.btn-edit {
	padding: 1rem 1.5rem;
	color: $color-grey-light1;
	background-color: $color-grey-dark1;
	align-self: flex-start;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	&:hover {
		cursor: pointer;
	}
}