.todo-form {
	width: 100%;
	grid-area: form;
	max-height: 10rem;
	display: flex;
	justify-content: space-around;
	padding: 2rem 0;
}

.btn-add {
	background-color: $color-primary;
	color: $color-white;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	&:hover {
		background-color: transparent;
		color: $color-primary-dark;
		border: 1px solid $color-primary-dark;
		cursor: pointer;
	}
}
