.todo-form {
  width: 100%;
  grid-area: form;
  max-height: 10rem;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  
}

.btn-add {
  background-color: $color-primary;
  color: $color-white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}