.todo-form {
  width: 100%;
  grid-area: form;
  // grid-column: 2 / 3;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  background-color: $color-grey-light2;
  
}

.btn-add {
  background-color: $color-grey-dark2;
  color: $color-grey-light1;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}