
// font styles
$default-font-size: 1.8rem;


//color variables
$color-primary-dark: #0A6C74;
$color-primary: #139198;
$color-primary-light: #54D1D8;

$color-white: #f0f4f8;
$color-grey-light1: #d9e2ec;
$color-grey-light2: #bcccdc;
$color-grey-light3: #9fb3c8;

$color-grey: #627d98;
$color-grey-dark1: #334e68;
$color-grey-dark2: #243b53;
$color-black: #102A43;

$color-error: #da4a91;
$color-danger: #5c0b33;

//Shadow
$box-shadow-light: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow: 0 1.25rem 2rem rgba($color-black, .25);
$box-shadow-dark: 0 1.5rem 4rem rgba($color-black, .5);

//border-radius
 