
// font styles
$default-font-size: 1.8rem;


//color variables

$color-grey-light1: #f7f7f7;
$color-grey-light2: #eee;
$color-grey-light3: #666;

$color-white: #fff;
$color-grey: #393939;
$color-grey-dark1: #242424;
$color-grey-dark2: #1b1b1b;
$color-black: #000;

//Shadow
$box-shadow-light: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow: 0 1.25rem 2rem rgba($color-black, .25);
$box-shadow-dark: 0 1.5rem 4rem rgba($color-black, .5);

//border-radius
 