@import "./abstract/mixins";
@import "./abstract/variables";
@import "./components/header";
@import "./components/landingpage";
@import "./components/login";
@import "./components/register";
@import "./components/userForm";
@import "./contentContainer";
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	border: none;
}

html {
	font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

	@include respond(tab-land) {
		//width < 1200
		font-size: 56.25%; //1rem = 9px 9/16 = 56.25%
	}

	@include respond(tab-port) {
		//width < 900
		font-size: 50%; //1rem = 8px; 8/16 = 50%
	}

	@include respond(lap-desk) {
		font-size: 75%; //1rem = 12px; 12/16 = 75%
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: $default-font-size;
	line-height: 1.7;
	color: $color-grey-dark2;
	padding: 2.5rem;
	box-sizing: border-box;
	display: grid;

	@include respond(tab-port) {
		padding: 0;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.link {
	&:link,
	&:visited {
		width: 80%;
		max-width: 40rem;
		text-align: center;
		text-decoration: none;
		font-size: 3rem;
		color: $color-white;
		background-color: $color-grey;
		padding: 0.5rem 1.5rem 0.5rem 1.5rem;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		box-shadow: $box-shadow;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
	}

	&:hover,
	&:active {
		box-shadow: $box-shadow-dark;
		transform: translateY(-1rem);
		-webkit-transform: translateY(-1rem);
		-moz-transform: translateY(-1rem);
		-ms-transform: translateY(-1rem);
		-o-transform: translateY(-1rem);
}
}

// ::selection {
// 	background-color: $color-primary;
// 	color: $color-white;
// }
